@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
/* Global */
:root {
    --background-main: #373640;
    --bacground-border: #63686E;
    --button: #68A357;
    --button-hover: #B6F7C1;
    --text: #F9F4F5
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    font-family: 'Fira Code', monospace;
    height: 100vh;
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 20px;
    background-color: var(--background-main);
    border-bottom: 2px solid var(--bacground-border);
}

header h1{
    font-size: 1.7rem;
}

@media screen and (max-width: 400px) {
    header h1{
        font-size: 1.5rem;
    }
}

.row {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.row input[type="text"] {
    visibility: hidden;
    width: 0;
}

.row button {
    margin-left: 20px;
    padding: 10px;
    height: 50px;
    border-radius: 25px;
    font-size: 1rem;
    color: var(--text);
    background-color: var(--button);
    border: 1px solid var(--bacground-border);
}

.row button:hover {
    color: var(--background-main);
    background-color: var(--button-hover);
}

/* Tooltip */
.tooltip {
    position: relative;
    display: inline;
}

.tooltip .tooltiptext {
    /* tooltip layout */
    visibility: hidden;
    width: 120px;
    background-color: var(--bacground-border);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* position */
    position: absolute;
    z-index: 1;
    bottom: -300%;
    left: 50%;
    margin-left: -60px;

    /* animation */
    opacity: 0;
    transition: opacity 0.01s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: -20%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bacground-border) transparent;
}


.tooltip:active .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* MAIN */

main {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #68A357;
    height: 90%;
}

main div {
    background-color: var(--background-main);
    border-radius: 15px;
    padding: 0 10px;
}